.row {
  justify-content: center;
  backdrop-filter: blur(1px);
  opacity: 0.95;
}
.card {
  width: 15rem;
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
  border-bottom: #ffffff4e solid 1px;
  margin: 0.5em;
  cursor: pointer;
}
.card-title {
  font-size: 15px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}
.card-body {
  padding: 0px;
}
.card-img-top {
  margin: 1rem;
  width: 11rem;
  border-radius: 7px;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.2s ease-in-out;
}
.card-img-top:hover {
  margin: 0.47rem;
  width: 11.7rem;
  opacity: 1;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.score {
  z-index: 5;
  transform: translate(20%, -50%);
  font-size: 12px;
  border-radius: 50px;
  background-color: #831010;
  width: 35px;
  height: 30px;
  padding: 6px;
  box-shadow: rgb(197, 148, 148) 10px 0.2px 50px 0.1px;
}

#navbar_menu {
  box-shadow: none;
}
.genres {
  font-size: 12px;
  color: rgb(169, 169, 169);
  text-align: start;
}
#mainContent {
  color: #ffffff;
}

/*######### Loader ###########*/

/* .divLoader {
  position: absolute;

} */
.loader {
  animation: rotate 1s infinite;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  z-index: 10;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}
/* 
 ########################################*/
/* ############ Keyframes ############### */
/* ######################################
 */

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

@keyframes shake {
  0% {
    transform: translate(0.1px, 0.1px) rotate(0deg);
  }
  10% {
    transform: translate(-0.1px, -0.2px) rotate(-0.1deg);
  }
  20% {
    transform: translate(-0.3px, 0px) rotate(0.1deg);
  }
  30% {
    transform: translate(0.3px, 0.2px) rotate(0deg);
  }
  40% {
    transform: translate(0.1px, -0.1px) rotate(0.1deg);
  }
  50% {
    transform: translate(-0.1px, 0.2px) rotate(-0.1deg);
  }
  60% {
    transform: translate(-0.3px, 0.1px) rotate(0deg);
  }
  70% {
    transform: translate(0.3px, 0.1px) rotate(-0.1deg);
  }
  80% {
    transform: translate(-0.1px, -0.1px) rotate(0.1deg);
  }
  90% {
    transform: translate(0.1px, 0.2px) rotate(0deg);
  }
  100% {
    transform: translate(0.1px, -0.2px) rotate(-0.1deg);
  }
}
