.navSelectedState {
  background-color: yellow;
}
.navNormalState {
  background-color: rgba(0, 217, 255, 0.101);
}
.navbar {
  font-size: large;
  border-radius: 0.7rem;
  box-shadow: inset 5px 5px 10px #cddede1f, inset -5px -5px 10px #e7fafa1f;
}
/* div to put brand and input tag together */
#div_brand_input_together {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

#searchNavBar_brand {
  font-size: 2rem;
  color: #db0000;
}
#searchNavBar_git {
  color: rgba(255, 255, 255, 0.405);
}

@media only screen and (max-width: 600px) {
  #searchNavBar_git {
    display: none;
  }
}
