@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
.App {
  text-align: center;
  background-image: url("/src/movie_background.svg");
  /* opacity: 0.95; */

  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Space Mono", monospace;
}
a {
  text-decoration: none;
}
